body {
  font-family: sans-serif;
}

.container {
  width: 1211px;
  margin: auto;
}

@media (max-width: 1200px) {
  .conteiner {
    width: 770px;
  }
}

@media (max-width: 768px) {
  .conteiner {
    width: 570px;
  }
  .navbar__contacts {
    display: none;
  }
}

.button {
  border-radius: 10px;
  border: none;
  padding: 18px 30px 18px 30px;
  background-color: #ffd200;
  outline: none;
}

.button:hover {
  background-color: #ffed99;
  cursor: pointer;
}

.navbar {
  padding: 7px 0 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: 400;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 9px;
}

.hero {
  padding: 50px 0 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 160px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 60px;
  min-width: 500px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-weight: 5500;
  line-height: 65px;
  padding-button: 100px;
  margin-bottom: 55px;
  display: inline-block;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

.hero-image__image {
  width: 640px;
}
