@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 277px;
  }
}

.button {
  border-radius: 10px;
  border: none;
  padding: 18px 30px 18px 30px;
  background-color: #ffd200;
  outline: none;
}

.button:hover {
  background-color: #ffed99;
  cursor: pointer;
}

.section {
  padding: 30px 0 90px 0;
}

.section-title {
  font-size: 15px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.input {
  outline: none;
}

#phone-error {
  margin-left: 10px;
}

.navbar {
  padding: 7px 0 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-top: 9px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar-logo__image {
    width: 91px;
  }
}

@media (max-width: 540px) {
  .navbar {
    padding: 17px 20px;
  }
  .navbar-logo__image {
    width: 91px;
  }
  .navbar-block {
    width: 100%;
  }
  .navbar__button {
    width: 137px;
    height: 39px;
    font-size: 10px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hero {
  padding: 50px 23px 50px 23px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 8px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-weight: 5500;
  line-height: 65px;
  margin-bottom: 45px;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 500px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  width: 350px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  min-width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  min-width: 231px;
  line-height: 24px;
  font-size: 14px;
}

.hero-image__image {
  width: 110%;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-image__image {
    width: 80%;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 13px;
    width: 279px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    width: auto;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__item:last-child {
    margin-bottom: 0;
  }
  .hero-list__text {
    font-size: 12px;
  }
}

@media (max-width: 768px) and (max-width: 540px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 52px;
    padding-right: 27px;
    padding-right: 27px;
  }
  .hero-text__title {
    margin-bottom: 0;
  }
  .hero-text__subtitle {
    width: 200px;
    line-height: 1.4;
    margin-top: 0;
  }
  .hero-list {
    margin-bottom: 35px;
  }
  .hero-list__item {
    width: 279px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text {
    line-height: 15px;
  }
  .hero-image__image {
    min-width: 270px;
  }
}

.offer {
  background: url("../img/offer-img.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
}

.offer-manager {
  min-width: 200px;
  font-size: 15px;
  line-height: 24px;
}

.offer-phone {
  line-height: 24px;
  width: 40%;
  margin-left: 70px;
}

.offer-phone__text {
  display: block;
  min-width: 224px;
  font-size: 15px;
}

.offer-phone__tel {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 350px;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 21px;
  margin-top: 44px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 34px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  outline: none;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 28px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
    margin-right: 0px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
    margin-bottom: 0;
  }
  .offer-connection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-manager {
    margin-top: 27px;
    max-width: 200px;
  }
  .offer-phone {
    margin: 18px 0 0 0;
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .offer {
    padding: 35px 0;
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    max-width: 270px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 27px;
  }
  .offer-connection {
    font-size: 5px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) and (max-width: 540px) {
  .offer-manager {
    min-width: 230px;
    margin-top: 21px;
  }
  .offer-connection {
    margin-left: 5px;
  }
  .offer-phone {
    margin-top: 7px;
  }
  .offer__form {
    width: 275px;
  }
  .offer__input {
    height: 63px;
    padding-left: 20px;
  }
  .offer__button {
    padding-left: 60px;
    padding-right: 60px;
    line-height: 1.3;
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  background-color: #ffd200;
  border: none;
  border-radius: 4px;
}

.modal-dialog__close:hover {
  cursor: pointer;
  background-color: #ffed99;
}

.portfolio {
  background-color: #f5f5f5;
  background: url("../img/portfolio-img.jpg") repeat-y center left;
  background-size: 50%;
  padding-bottom: 100px;
  background-color: #f5f5f5;
}

.portfolio__title {
  margin-top: 58px;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 93px;
  padding-left: 3px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  margin: 0 -15px;
}

.slider__item {
  outline: none;
}

.slider__image {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    background: none;
    background-color: #f5f5f5;
    padding-bottom: 64px;
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: 400;
    max-width: 300px;
    line-height: 1.2;
    margin-bottom: 41px;
    margin-top: 22px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}

@media (max-width: 540px) {
  .slider__image {
    width: 246px;
    height: 186px;
  }
}

.price {
  padding-top: 85px;
  padding-bottom: 0;
}

.price__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
}

.price__subtitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 59px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 23px 0 43px 0;
}

.card__img {
  display: block;
}

.card__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.card__link:hover:after {
  height: 13px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price {
    padding-top: 49px;
    padding-bottom: 0;
  }
  .price__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .price__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    padding-right: 18px;
    margin-bottom: 49px;
  }
  .card__img {
    width: 370px;
  }
  .card__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-top: 0;
  }
  .card__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
  .card__text {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .card__title {
    margin-bottom: 0;
  }
}

@media (max-width: 540px) {
  .card__img {
    width: 271px;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 160px;
  margin: auto;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.steps__title {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 45px;
  max-width: 670px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.steps__subtitle {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .step__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
  }
  .step__image {
    margin-bottom: 30px;
  }
  .step__image-one {
    margin-bottom: 20px;
  }
  .steps {
    padding-top: 11px;
    padding-bottom: 75px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .steps__subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brif {
  padding-top: 81px;
  padding-bottom: 80px;
  background-image: url("../img/orange.jpg"), url("../img/white.jpg");
  background-position: left center, right center;
  background-size: 50%, cover;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 216px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  min-height: 65px;
  margin-bottom: 15px;
}

.brif__button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 27px;
}

.interview {
  padding-right: 0;
}

.interview__title {
  margin-bottom: 46px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 95px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.interview-list__item:nth-child(3) {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 30px;
}

.interview-list__item:last-child {
  margin-top: 30px;
}

.interview-list__counter {
  display: inline-block;
  line-height: 35px;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  margin-right: 30px;
  border-radius: 50%;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
  font-size: 18px;
  font-weight: 400;
}

.form__title {
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 1.4;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 50px;
}

.form__description {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
    margin-bottom: 15px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 927px) {
  .brif {
    padding: 100px 0 100px 0;
    background-image: url("../img/orange.jpg"), url("../img/white.jpg");
    background-position: left center, right center;
    background-size: 50%, cover;
    background-repeat: repeat-y, no-repeat;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/orange.jpg"), url("../img/white.jpg");
    background-position: top center, bottom center;
    background-size: 100% 47%, cover;
    background-repeat: repeat-x, no-repeat;
    padding-left: 0;
    padding-bottom: 30px;
    padding-top: 24px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    padding-left: 0;
  }
  .brif__interview {
    padding-right: 0;
    padding-bottom: 0;
  }
  .brif__input {
    margin-bottom: 9px;
  }
  .brif__button {
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .interview__title {
    font-size: 18px;
    line-height: 1.3;
    max-width: 220px;
    margin-bottom: 10px;
  }
  .interview__subtitle {
    font-size: 14px;
    font-weight: 400;
    max-width: 180px;
    margin-bottom: 40px;
  }
  .interview-list__item {
    margin-bottom: 0;
    margin-top: 25px;
  }
  .interview-list__item:nth-child(3) {
    max-width: 230px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .interview-list__counter {
    min-width: 35px;
    margin-right: 7px;
  }
  .interview-list__text {
    font-size: 14px;
    font-weight: 400;
  }
  .form__title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 90px;
    margin-bottom: 30px;
  }
  .form__subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
  }
  .form__description {
    font-size: 14px;
    font-weight: 400;
    max-width: 140px;
    margin: auto;
  }
}

.footer {
  position: relative;
}

.map {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 70px;
  padding-left: 215px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  max-width: 300px;
  margin-bottom: 90px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__item {
  margin-bottom: 34px;
}

.contacts-list__item:nth-child(2) {
  margin-bottom: 33px;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__icon-image {
  vertical-align: -webkit-baseline-middle;
}

.contacts-list__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.contacts-list__text-bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

@media (max-width: 1200px) {
  .contacts {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .footer {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map {
    position: static;
    width: 100%;
  }
  .contacts {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding-left: 25px;
    padding-top: 45px;
    padding-bottom: 15px;
  }
  .contacts__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 32px;
  }
  .contacts-list__icon {
    margin-right: 10px;
  }
}

.information {
  background-color: #ffc000;
  padding-top: 87px;
  padding-bottom: 90px;
}

.information__text {
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  display: block;
  text-align: center;
}

@media (max-width: 768px) {
  .information {
    padding: 70px 33px 70px 20px;
  }
  .information__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
  }
}

.peoples {
  padding-top: 100px;
}

.peoples-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.people {
  position: relative;
  height: 410px;
  width: 370px;
  margin-right: 26px;
  background-color: #f7f7f7;
}

.people:last-child {
  margin-right: 0;
}

.people__img {
  bottom: 0;
  position: absolute;
}

.people__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  max-width: 305px;
  padding-left: 25px;
  padding-top: 8px;
}

.people__text-bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.people__text-last {
  max-width: 310px;
}

@media (max-width: 1200px) {
  .peoples {
    padding-top: 60px;
  }
  .peoples-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .people {
    width: 300px;
    height: 340px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .people__img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .people {
    width: 272px;
    height: 300px;
  }
  .people__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    max-width: 250px;
    padding-left: 20px;
    padding-top: 6px;
  }
}

.contract {
  padding-top: 16px;
}

.contract-title {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 99px;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.4;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contract-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contract-paper {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding-left: 60px;
}

.contract-paper:first-child {
  padding-left: 42px;
}

.contract-paper__img {
  border: 20px solid #f5f5f5;
  width: 270px;
  height: 360px;
  padding: 5px;
}

.contract-paper__text {
  max-width: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
