@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 770px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 277px;
  }
}

.button {
  border-radius: 10px;
  border: none;
  padding: 18px 30px 18px 30px;
  background-color: #ffd200;
  outline: none;
}

.button:hover {
  background-color: #ffed99;
  cursor: pointer;
}

.section {
  padding: 30px 0 90px 0;
}

.section-title {
  font-size: 15px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 7px 0 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-top: 9px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
}

@media (max-width: 540px) {
  .navbar {
    padding: 17px 20px;
  }
  .navbar-logo__image {
    width: 91px;
  }
  .navbar-block {
    width: 100%;
  }
  .navbar__button {
    width: 137px;
    height: 39px;
    font-size: 10px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hero {
  padding: 50px 23px 50px 23px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 8px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-weight: 5500;
  line-height: 65px;
  margin-bottom: 45px;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 500px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  width: 350px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  min-width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  min-width: 231px;
  line-height: 24px;
  font-size: 14px;
}

.hero-image__image {
  width: 110%;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-image__image {
    width: 80%;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 13px;
    width: 279px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    width: auto;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__item:last-child {
    margin-bottom: 0;
  }
  .hero-list__text {
    font-size: 12px;
  }
}

@media (max-width: 768px) and (max-width: 540px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 52px;
    padding-right: 27px;
    padding-right: 27px;
  }
  .hero-text__title {
    margin-bottom: 0;
  }
  .hero-text__subtitle {
    width: 200px;
    line-height: 1.4;
    margin-top: 0;
  }
  .hero-list {
    margin-bottom: 35px;
  }
  .hero-list__item {
    width: 279px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text {
    line-height: 15px;
  }
  .hero-image__image {
    min-width: 270px;
  }
}

.offer {
  background: url("../img/offer-img.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
}

.offer-manager {
  min-width: 200px;
  font-size: 15px;
  line-height: 24px;
}

.offer-phone {
  line-height: 24px;
  width: 40%;
  margin-left: 70px;
}

.offer-phone__text {
  display: block;
  min-width: 224px;
  font-size: 15px;
}

.offer-phone__tel {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 350px;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 21px;
  margin-top: 44px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 34px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  outline: none;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 28px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
    margin-bottom: 0;
  }
  .offer-connection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-manager {
    margin-top: 27px;
    max-width: 200px;
  }
  .offer-phone {
    margin: 18px 0 0 0;
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .offer {
    padding: 35px 0;
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    max-width: 270px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 27px;
  }
  .offer-connection {
    font-size: 5px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) and (max-width: 540px) {
  .offer-manager {
    min-width: 230px;
    margin-top: 21px;
  }
  .offer-connection {
    margin-left: 5px;
  }
  .offer-phone {
    margin-top: 7px;
  }
  .offer__form {
    width: 275px;
  }
  .offer__input {
    height: 63px;
    padding-left: 20px;
  }
  .offer__button {
    padding-left: 60px;
    padding-right: 60px;
    line-height: 1.3;
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  background-color: #ffd200;
  border: none;
  border-radius: 4px;
}

.modal-dialog__close:hover {
  cursor: pointer;
  background-color: #ffed99;
}

.portfolio {
  background-color: #f5f5f5;
  background: url("../img/portfolio-img.jpg") repeat-y center left;
  background-size: 50%;
  padding-bottom: 64px;
}

.portfolio__title {
  margin-top: 58px;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 93px;
  padding-left: 3px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  margin: 0 -15px;
}

.slider__item {
  outline: none;
}

.slider__image {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    background: none;
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: 400;
    max-width: 300px;
    line-height: 1.2;
    margin-bottom: 41px;
    margin-top: 22px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}

@media (max-width: 540px) {
  .slider__image {
    width: 246px;
    height: 186px;
  }
}
