body 
  font-family: sans-serif
.container
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 770px
  
@media (max-width: 768px)
  .container
    width: 400px

@media (max-width: 540px)
  .container
    width: 320px



.button
  border-radius: 10px
  border: none
  padding: 18px 30px 18px 30px
  background-color: $main-color
  outline: none
  &:hover
    background-color: lighten($main-color, 30%)
    cursor: pointer