.offer
  background: url('../img/offer-img.png') no-repeat
  background-size: contain
  background-position: center right
  position: relative
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    background-color: #fff
    top: 0
    left: 0
  &-connection
    display: flex
    justify-content: space-between
    margin-top: 0
    
  &-manager
    min-width: 200px
    font-size: 15px
    line-height: 24px
    
  &-phone
    line-height: 24px
    width: 40%
    margin-left: 70px
    &__text
      display: block
      min-width: 224px
      font-size: 15px
      
    &__tel
      +bold
      text-decoration: none
      color: $text-color
      font-size: 15px
  &-block
    width: 50%
    padding-right: 90px
    position: relative
  &__title
    max-width: 350px
    font-size: 24px
    line-height: 35px
    margin-bottom: 21px
    margin-top: -15px
  &__subtitle
    max-width: 250px
    margin-bottom: 34px
  &__input
    margin-bottom: 30px
    width: 240px
    &:first-child
      margin-right: 10px

  &__button
    width: 100%
    min-height: 70px
    +bold
@media (max-width: 1200px)
  .offer
    background-size: cover
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      font-size: 13px
    &-connection
      flex-direction: column
    &-manager
      margin-top: 27px
      max-width: 200px
    &-phone
      margin: 18px 0 0 0
      min-width: 200px

@media (max-width: 768px)
  .offer
    padding: 54px 0 
    background: #fff
    &-block
      width: 100%
      padding-right: 0
    &__title
      font-size: 18px
      max-width: 259px
      line-height: 1.4
    &__subtitle
      font-size: 14px
    &-connection
      font-size: 5px
      margin-top: 0px




      
    

    

